body {
    font-family: sans-serif;
  }
  
  h1 {
    text-align: center;
  }
  
  form {
    width: 300px;
    margin: 0 auto;
    background-color: #f2f2f2;
    border-radius: 10px;
  }
  
  input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  select {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    font-size: 16px;
  }
  
  #hasil {
    font-size: 18px;
    text-align: center;
    font-weight: bold;
  }
  